body {
  background-color: rgba(230, 230, 230, 0.753);
}

.login-box {
  background-color: rgb(255, 255, 255);
  height: 150px;
  width: 270px;
  border: 1px solid rgb(255, 255, 255);
  padding: 50px;
  margin: 200px 820px;
  text-align: center;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
  border-radius: 12px
}

.label {
  position: relative;
  display: block;
  padding: 1px;
  text-align: center;
  margin-right: 50px;
} 

input {
  position: relative;
  display: block;
  margin-top: -35px;
  margin-bottom: 45px;
  margin-left: -25px;
  font-size: 15px;
  width: 120%;
  height: 55px;
  padding: 15px 12px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  border-radius: 7px;
  font-family: Trebuchet MS, sans-serif
}
input[type="text"]:focus, input[type="password"]:focus {
  opacity: 0.5
}

.login-button {
  position: relative;
  width: 120%;
  height: 33%;
  font-family: Trebuchet MS, sans-serif;
  font-size: 25px;
  margin-top: -100px;
  margin-left: -25px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  transition: opacity 0.1s;
  margin-bottom: 10px;
  z-index: 100;
}

.login-button:hover {
  opacity: 0.8;
}

.forgotpwd:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.forgotpwd {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.forgotpwd:active {
  text-decoration: underline;
  color: rgb(0, 0, 0);

}
.forgotpwd:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.new-acc {
  background-color: rgb(255, 255, 255);
  height: 85px;
  width: 370px;
  border: 1px solid rgb(255, 255, 255);
  margin: -190px 820px;
  text-align: center;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.15);
  border-radius: 12px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
}

.donthave {
  margin-top: 33px;
}

.new-acc-button {
  margin-right: 0px;
  height: 50px;
  width: 100px;
  text-align: center;
  font-family: Trebuchet MS, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 202, 112);
  cursor: pointer;
  border: none;
  transition: opacity 0.1s;
  border-radius: 7px;
}

.new-acc-button:hover {
  opacity: 0.8;
}
img {
  position: relative;
  bottom: 150px;
  left: 350px;
  height: 100px;
  width: 100px;
  z-index: 100;
}

.name {
  position: relative;
  bottom: 200px;
  left: 300px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 50px;
}

.slogan {
  position: relative;
  bottom: 230px;
  left: 55px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 30px;
}


